<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hete.supply.scm.server.scm.settle.dao.DeductOrderPurchaseMapper">

    <select id="getListByBusinessNoAndStatus"
            resultType="com.hete.supply.scm.server.scm.settle.entity.bo.DeductSupplementAndStatusBo">
        SELECT dop.deduct_order_purchase_id AS businessId,
        dop.version AS version,
        do.deduct_order_no AS deductSupplementNo,
        dop.business_no AS businessNo,
        dop.sku AS sku,
        dop.sku_num AS num,
        dop.deduct_price AS totalPrice
        FROM deduct_order_purchase AS dop
        INNER JOIN deduct_order AS do ON do.deduct_order_id = dop.deduct_order_id
        WHERE dop.del_timestamp = 0 AND do.del_timestamp = 0
        <if test="businessNoList != null and businessNoList.size() > 0">
            AND dop.business_no IN
            <foreach collection="businessNoList" item="code" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
        <if test="statusList != null and statusList.size() > 0">
            AND do.deduct_status IN
            <foreach collection="statusList" item="code" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
        ORDER BY dop.deduct_order_purchase_id DESC
    </select>
</mapper>
