<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hete.supply.scm.server.scm.production.dao.SupplierSkuCraftAttributeMapper">
    <select id="getSupCodeListBySku" resultType="java.lang.String">
        select distinct supplier_code
        from supplier_sku_material_attribute
        where del_timestamp = 0
        and sku = #{value}
    </select>
</mapper>
